@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body{
  background-color: #F8F8F9!important;
  height: 100%;
}

html{
  height: 100%;
}

h1{
  font-size: 40px !important;
  text-align: center;
  color: #518FF5;
  margin-bottom: 50px;
}

h4{
  font-size: 20px !important;
  text-align: center;
  font-weight: bold !important;
  position: relative;
  top: 22px;
}
.card-content-doc{
  background-color: #00bbbb;
  height: 70px !important;
  color: white;
  text-align: center;
  position: relative;
  top: 7px;
}

.card-panel-login{
  float: left;
  height: 300px;
  width: 200px;
  margin: 0;
  padding: 0;
  position: relative;
  right: 215px;

}

.card-panel-node{
  float: left;
  height: 100%;
  width: 415px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  position: relative;
  right: 215px;
}

.card-panel-question{
  height: 100%;
  width: 286px;
  margin: 0;
  padding: 5px 10px;
  margin: 7px;
}
.card-panel-question-posted{
  height: 100%;
  width: 286px;
  margin: 0;
  padding: 10px 10px;
  margin: 4px 7px;
}

.student-card{
  margin-left: 50%;
}

.spacer{
  float: left;
  width: 50px;
  color: #EEEEEE
}

.node-container{
  background-color: gray;
  width: 400px;
  float: left;
  height:100vh;
  position: relative;
}

.canvas-container{
  position: absolute;
  // right: 18vh;
  // top: 0;
  // width: 600px;
  // height: 100vh;
  // overflow: scroll;
  // z-index: 0;
  display: block;
  z-index: 0;
  width: 700px;
  height:100vh;
  margin-left: 100px;
  right: 15vh;
  top: 0;
  z-index: 0;
  overflow: scroll;
}

#nav:target, nav.main-menu.expanded {
width:300px;
overflow-y: scroll;
opacity:1;
}

#nav {
font-family: 'Source Sans Pro', sans-serif !important;
z-index: 9999;
position: relative;
// font-weight: bold;
// font-weight: bold;
font-size: 18px;
line-height: 150% !important;
background: #80deea;
float: left;
height:100vh;
width:0;
// overflow:hidden;
overflow: scroll;
-webkit-transition:width .2s linear;
transition:width .2s linear;
-webkit-transform:translateZ(0) scale(1,1);
box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity:1;
}


// .main-menu .liBorder {
//   padding: 15px 10px;
// }

// .main-menu .liBorder {
// width:300px;
// display:table;
// border-top:1px solid #f2f2f2;
// }
//
// .main-menu .liBorder:last-child {
// border-bottom:1px solid #f2f2f2;
// }

.untarget {
  background-color:#00bbbb;
}
.untarget:hover {
}

:target .untarget {
    display: block;
}

#questionInput{
color: black;
font-size: 17px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.askButton{
  width: 286px;
  margin-left: 7px !important;
  margin-bottom: 10px;
  margin-top: 3px !important;
}

.upper-canvas{
  height: 400px !important;
  width: 400px !important;
}

.nav-text{
  color: #242424 !important;
  // color: white !important;
}
.topic_name{
  font-size: 25px;
}

.sound-wave{
  width: 300px;
}

.canvasScreen {
    width: 600px !important;
    height: 2000px !important;
    background-color: white;
    clear: both;
}

// #drawingboard {
//     width: 100% !important;
//     height: 1000px;
//     background-color: white;
//   }
